.App {
  text-align: center;
  margin: auto;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #30911d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(9px + 2vmin);
  color: rgb(255, 255, 255);
}
.loginContainer {
  padding: 20px;
  margin: 0;
  width: 1050px;
  max-width: 1920px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  border-radius: 25px;
  background: radial-gradient(
    ellipse at left bottom,
    rgb(116, 54, 83) 0%,
    rgba(83, 75, 97, 0.9) 50%,
    rgba(95, 29, 86, 0.9) 100%
  );
  box-shadow: 0 30px 70px -20px rgba(0, 0, 0, 0.4);
}
.menuContainer {
  padding: 60px;
  margin: 0;
  width: 200%;
  height: 240px;
  max-width: 360px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  border-radius: 25px;
  background: radial-gradient(
    ellipse at left bottom,
    rgb(116, 54, 83) 0%,
    rgba(38, 20, 72, 0.9) 50%,
    rgba(95, 29, 86, 0.9) 100%
  );
  box-shadow: 0 30px 70px -20px rgba(0, 0, 0, 0.4);
}
.margenContainer {
  justify-content: space-between;
  padding: 5px;
  margin: -25px;
  width: 1050px;
  height: 45px;
  max-width: 1920px;
  min-height: 10px;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  font-size: 12px;
  border-radius: 25px;
  background: radial-gradient(
    ellipse at left bottom,
    rgb(116, 54, 83) 0%,
    rgba(38, 20, 72, 0.9) 50%,
    rgba(0, 47, 255, 0.9) 100%
  );
  box-shadow: 0 30px 70px 0px rgba(0, 0, 0, 0.4);
}
button {
  border: 1px dashed #660000;
  outline: none;
  width: 27%;
  padding: 7px 0;
  
  color: #fff;
  font-size: 8px;
  letter-spacing: 0.5px;
  background: #ff7300;
  cursor: pointer;
  border-radius: 25px;
}
input {
  border: none;
  outline: none;
  width: 50%;
  padding: 7px 1px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  letter-spacing: 0.1px;
  background: #ebe4fd;
  border-radius: 25px;
  cursor: writer;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

